/* CSS HEX 
--sky-blue-crayola: #1be7ffff;
--light-green: #6eeb83ff;
--chartreuse-traditional: #e4ff1aff;
--selective-yellow: #ffb800ff;
--international-orange-aerospace: #ff5714ff;
*/

html {
  font-family: sans-serif;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #6eeb83ff;
}

body { 
  padding : 2px;
  background-color: #ffffffff;
  display: grid;
  grid-template-areas: 
    "header header header"
    "article article nav";

  grid-template-rows: 80px 1fr;  
  grid-template-columns: 1fr 10% 25%;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  height: 100vh;
  margin: 0;
  }  
header, footer, article, nav, div {
  padding: 1.2em;
  background: #1be7ffff;
  border-radius: 5px;
  }
article {
  background: white;
}

nav{
  background: white;
  border-left: 5px solid black;
}
#pageHeader {
  grid-area: header;
  }
#mainArticle { 
  grid-area: article;      
  }
#mainNav { 
  grid-area: nav; 
  }

/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  body { 
    grid-template-areas: 
      "header"
      "article"
      "nav"
      "footer";
    grid-template-rows: 80px 1fr 70px 1fr 70px;  
    grid-template-columns: 1fr;
 }
}

